{% extends 'base.html' %}

{% block content %}

<h1>{% block title %} Nytt kart {% endblock %}</h1>

<script>
    function a (e) {
        document.getElementById("lat").value = marker.getLatLng()["lat"]
        document.getElementById("lng").value = marker.getLatLng()["lng"]
    };
</script>

<form method="post">
    {{ form.hidden_tag()}}
    {{ form.nr.label }}
    {{ form.nr(disabled = true) }}
    <br>
    {{ form.navn.label }}
    {{ form.navn() }}
    <br>
    {{ form.dato.label }}
    {{ form.dato() }}
    <br>
    {{ form.typ.label }}
    {{ form.typ() }}
    <br>
    {{ form.arr.label }}
    {{ form.arr() }}
    <br>
    {{ form.klasse.label }}
    {{ form.klasse() }}
    <br>
    {{ form.sted.label }}
    {{ form.sted() }}
    <br>
    {{ form.kommune.label }}
    {{ form.kommune() }}
    <br>
    {{ form.hva.label }}
    {{ form.hva() }}
    <br>
    {{ form.lat(hidden="true") }}
    {{ form.lng(hidden="true") }}
    {{ form.lagre(onclick="a()", class="btn btn-secondary") }}
    <a href="{{ url_for('hjem') }}" class="btn btn-secondary">Avbryt</a>
</form>

<br>
<div id="map" style="height: 500px;"></div>

<script>

    const attribution = '&copy; <a href="https://www.kartverket.no/">Kartverket</a>';
    const map = L.map('map').setView([63.43, 10.39], 10);
    const marker = L.marker([63.43, 10.39]).addTo(map);
    marker.dragging.enable()
    const tiles = L.tileLayer('https://opencache.statkart.no/gatekeeper/gk/gk.open_gmaps?layers=topo4&zoom={z}&x={x}&y={y}', {attribution})
    tiles.addTo(map);
</script>


{% endblock %}