{% extends 'base.html' %}

{% block content %}

<h1>{% block title %} Nytt kart {% endblock %}</h1>

<script>
    function a (e) {
        document.getElementById("lat").value = marker.getLatLng()["lat"]
        document.getElementById("lng").value = marker.getLatLng()["lng"]
    };
</script>

<form method="post">
    {{ form.hidden_tag()}}
    <table class="table">
        <tr>
            <td>{{ form.nr.label }}</td>
            <td>{{ form.nr(disabled = "true") }}</td>
        </tr>
        <tr>
            <td>{{ form.navn.label }}</td>
            <td>{{ form.navn() }}</td>
        </tr>
        <tr>
            <td>{{ form.dato.label }}</td>
            <td>{{ form.dato() }}</td>
        </tr>
        <tr>
            <td>{{ form.typ.label }}</td>
            <td>{{ form.typ() }}</td>
        </tr>
        <tr id="eventorIDRow">
            <td>{{ form.eventorID.label }}</td>
            <td>{{ form.eventorID() }}</td>
        </tr>
        <tr>
            <td>{{ form.arr.label }}</td>
            <td>{{ form.arr() }}</td>
        </tr>
        <tr>
            <td>{{ form.klasse.label }}</td>
            <td>{{ form.klasse() }}</td>
        </tr>
        <tr>
            <td>{{ form.kommune.label }}</td>
            <td>{{ form.kommune() }}</td>
        </tr>
        <tr>
            <td>{{ form.sted.label }}</td>
            <td>{{ form.sted() }}</td>
        </tr>
        <tr>
            <td>{{ form.hva.label }}</td>
            <td>{{ form.hva() }}</td>
        </tr>
    </table>
    <br>
    {{ form.lat(hidden="true") }}
    {{ form.lng(hidden="true") }}
    {{ form.lagre(onclick="a()", class="btn btn-secondary") }}
    <a href="{{ url_for('hjem') }}" class="btn btn-secondary">Avbryt</a>
</form>

<br>
<div id="map" style="height: 500px;"></div>

<script>
    vedOppdateringAvTyp(document.getElementById("typ"));
    document.getElementById("typ").onchange = vedOppdateringAvTyp;


    const map = L.map('map').setView([63.43, 10.39], 10);
    const marker = L.marker([63.43, 10.39], {icon: O}).addTo(map);
    marker.dragging.enable();
    marker.on("dragend", a);
    const topo4 = L.tileLayer(
        'https://opencache.statkart.no/gatekeeper/gk/gk.open_gmaps?layers=topo4&zoom={z}&x={x}&y={y}', {
            attribution: '&copy; <a href="http://www.kartverket.no">Kartverket</a>'
        });
    const osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    });
    osm.addTo(map);
    L.control.layers({
        "OpenStreetMap": osm,
        "Norgeskart": topo4
    }).addTo(map);
</script>


{% endblock %}