{% extends 'base.html' %}

{% block content %}

<script>
    function a(e) {
        document.getElementById("lat").value = marker.getLatLng()["lat"]
        document.getElementById("lng").value = marker.getLatLng()["lng"]
    };
</script>

<form method="post">
    {{ form.hidden_tag()}}
    <table class="table">
        <tr>
            <td>{{ form.nr.label }}</td>
            <td>{{ form.nr(disabled = "true") }}</td>
        </tr>
        <tr>
            <td>{{ form.navn.label }}</td>
            <td>{{ form.navn() }}</td>
        </tr>
        <tr>
            <td>{{ form.dato.label }}</td>
            <td>{{ form.dato() }}</td>
        </tr>
        <tr>
            <td>{{ form.typ.label }}</td>
            <td>{{ form.typ() }}</td>
        </tr>
        <tr id="eventorIDRow">
            <td>{{ form.eventorID.label }}</td>
            <td>{{ form.eventorID() }}</td>
        </tr>
        <tr>
            <td>{{ form.arr.label }}</td>
            <td>{{ form.arr() }}</td>
        </tr>
        <tr>
            <td>{{ form.klasse.label }}</td>
            <td>{{ form.klasse() }}</td>
        </tr>
        <tr>
            <td>{{ form.kommune.label }}</td>
            <td>{{ form.kommune() }}</td>
        </tr>
        <tr>
            <td>{{ form.sted.label }}</td>
            <td>{{ form.sted() }}</td>
        </tr>
        <tr>
            <td>{{ form.hva.label }}</td>
            <td>{{ form.hva() }}</td>
        </tr>
    </table>
    {{ form.lat(hidden="true") }}
    {{ form.lng(hidden="true") }}
    {{ form.lagre(onclick="a()", class="btn btn-secondary") }}
    <a href="{{ url_for('viser', id=form.nr.data) }}" class="btn btn-secondary">Abryt</a>
    {{ form.slett(class="btn btn-secondary", style="background-color: #8B0000") }}
</form>

<div id="map" style="height: 500px;"></div>

<script>
    vedOppdateringAvTyp(document.getElementById("typ"));
    document.getElementById("typ").onchange = vedOppdateringAvTyp;


    const map = visKart();
    map.setView([{{ form.lat.data }}, {{ form.lng.data }}], 10);
    
    const marker = L.marker([{{ form.lat.data }}, {{ form.lng.data }}], {icon: O}).addTo(map);
    marker.dragging.enable();
    marker.on("dragend", a);
</script>


{% endblock %}