{% extends 'base.html' %}
<!-- Viser alle kartene fra en kategori-->
{% block content %}
    <h1>{% block title %} Viser {% endblock %}</h1>
    <h2>Treninger</h2>
    <table class="table table-striped">
        <thead>
            <th>
                <td>Navn</td>
                <td>Dato</td>
                <td>Med</td>
                <td>Kommune</td>
                <td>Sted</td>
            </th>
        </thead>
        <tbody>
            {% for rad in tabel_T %}
                <tr>
                    <td>{{ rad['id'] }}</td>
                    <td>{{ rad['navn'] }}</td>
                    <td>{{ rad['dato'] }}</td>
                    <td>{{ rad['Med'] }}</td>
                    <td>{{ rad['kommune'] }}</td>
                    <td>{{ rad['sted'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}