{% extends 'base.html' %}
<!-- Viser alle kartene fra en kategori-->
{% block content %}
    <h1>{% block title %} {{ storb(typ) }} {% endblock %}</h1>
    <table class="table table-striped">
        <thead>
            <th>
                <td>Navn</td>
                <td>Dato</td>
                <td>Med</td>
                <td>Kommune</td>
                <td>Sted</td>
            </th>
        </thead>
        <tbody>
            {% for rad in tabel %}
                <tr>
                    <td><a href="{{ url_for('viser_id', typ=typ, id=rad['id']) }}">{{ rad['id'] }}</a></td>
                    <td>{{ rad['navn'] }}</td>
                    <td>{{ rad['dato'] }}</td>
                    <td>{{ rad['med'] }}</td>
                    <td>{{ rad['kommune'] }}</td>
                    <td>{{ rad['sted'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}